.vacancy{
display: flex;
padding: 16px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 12px;
background-color: #FFF;
border-radius: 16px
}

.vacancy__company{
    font-size: 20px;
}
.vacancy__title{
    background-color: #EAECFF;
    border-radius: 4px;
    padding: 3px 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.vacancy__fields{
    color: #CCC;
}